


#bodyComp {
	background-color:black
}

#nameContainer {
	margin:0px 5%;
	text-align: center;
	margin-top: 10%;
	padding:30px;
	/*background-color: rgb(125,125,125);*/

}


#barContainer {
	text-align: center;
	padding:20px 20px 20px 20px;
}

.largeContainer {
	margin:5px;
	padding: 30px;
	background-color:white;

}

#divider {
	border-top:solid;
	padding-top:30px;
	margin:0px 10%;
	position: sticky;
  	top: 5px;
}

#navigator {
	border:solid;
	padding:0px 30px 0px 30px;
	margin-left: -10px;
	margin-right: 50px;
	margin-top: 30px;
	float:left;
	position: sticky;
	top: 5px;
	background-color:white;
	z-index: +5;

}


@media (max-width: 1268px) {
    #navigator {
        display: none;
    }
}


#homeNavi {
	display:block;
	color: inherit;
	text-decoration: none;
	padding:20px;
	font-size:21px;
	text-align: center;
}

#footer {
	text-align: center;
	color:white;
	padding-top:130px;
}



.pageTitle {
	position: relative;
	color:white;
	font-size:90px;
	padding: 130px 30px 30px 30px;

}

.Atag {
	color: inherit;
	text-decoration: none;

}

ul.square {
	list-style-type: square;
	text-align: center;
}

.naviATag {
	display:block;
	color: inherit;
	text-decoration: none;
	padding:10px 0px 10px 0px;
	font-size:18px;

}

.barOption {
	display:inline;
	border:solid;
	text-align: center;
	padding:20px 10%;
	font-size: 20px;
	white-space: pre-wrap
	

}

.iframeBorder {
	border-style: solid;
	padding: 30px;
}


.barOption:hover {
	transition: 0.5s;
	background-color: coral;
}

.float {
	cursor: pointer;
	float: left;
  	width: 20%;
  	padding: 25px;
  	margin:30px;
  	border:solid;
  	background-color:white;
	min-width: 250px;
  }

 .floatZoom {
  	width:20%;
 }



.iframeFloat{
	float: left;
  	padding: 25px;
  	margin:30px;
  	border:solid;
  	background-color:white;
}

.imgDescription {
	text-align: center;
}

.thumbnails {
  width:100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


#Collaspe_button {
	text-align: center;
	padding:20px 20px 20px 20px;
	font-size: 24px;
	margin: 20px;
}

.imgCenter {
	display: block;
	margin-left: auto;
	 margin-right: auto;
	width: 50%;
}


/* w3school OP */
.modal {
	display: none; 
	position: fixed;
	z-index: 6; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
}


.modal-content {
	background-color: #fefefe;
	margin: 2% auto;
	padding: 20px;
	width: 50%;
	border: solid;
	max-width:1000px;
	height:auto;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}



